*{
    padding: 0;
    margin:0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* ========Sheared Design========== */
.btn{
    color: #ffff;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: linear-gradient(60deg,#ffe600,#FB09B4,#9100F8 ) ;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 1s ease;
    margin-left: 10px;
}
.btn:hover{
    color: #ffff;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: linear-gradient(60deg,#9100F8,#FB09B4,#ffe600);
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    transform:scale(1.1);
    cursor: pointer;  
}
.btn-2{
    color: #00FF88;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #00FF88;
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 1s ease;
    margin-left: 10px;
}
.btn-2:hover{
    color: #ffff;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: linear-gradient(60deg,#9100F8,#FB09B4,#ffe600);
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    transform:scale(1.1);
    cursor: pointer;   
}

/* ====heading ===== */
.heading {
    color:#fff;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700px;
    margin-bottom: 40px;
    text-align: center;
}
/* ==== All paregraph text===== */
.text{
    color: #ffff;
    font-size: 16px;
    font-weight: 400px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
}
/* ======Sheared Design - END ==== */

/* ===== MAIN HEADER =====  */

header{
    background-color: #1A0B2E;
    padding: 30px;
    border-bottom: 1px solid #311228;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
nav img{
    width: 220px;
}
.tuggol{
    display: none;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu li{
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
    display: flex;
}
/* ===== HERO SECTION BANNER ======== */

#hero-bnr{
    background-image: url(..//images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    align-items: center;
    justify-content: center;
    padding:100px;
}
.hero-container{   
    width: 550px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.badge{
    padding: 10px 12px;
    width: 60px;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px #00ff8852 ;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    position: absolute;
    top:28%;
    left:58% ;
    transform: translate(-100%,-100%) ;
}
.badge p{
    font-size: 18px;
    font-weight: 600; 
}
.hero-container .img1{
    position: relative;
    animation: whiteRing 3s infinite ease-out;
    border-radius: 100%;
}

@keyframes whiteRing{
    0%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.329);
    }
    100%{
        box-shadow: 0 0 0 18px rgba(255,255,255,0);
    }
}

.hero-img .img2{
    position: absolute;
    top:50%;
    left:50% ;
    transform: translate(-50%,-100%)
}
.hero-container h1{
    color: #ffff;
    font-size: 60px;
    font-weight: 800;
    line-height:70px;
    margin: 20px 0;
}

/* ===== ABOUT SECTION ====== */

#about{
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 120px;
}
.about-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;  
    text-align: center;  
}
.about-info{
    display: flex;
    justify-content: space-between;
}
.about-info h1 {
    color: #00FF88;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900px;
    margin-bottom: 16px;
    text-align: center;  
}

/* ====== SERVICES SECTION ======  */

#services{
    background-color: #1A0B2E;
    padding: 120px;
}
.services-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;  
}
.services-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    gap: 20px;
}
.box1{
    grid-column: span 1;
    grid-row: span 2;
    background-color: #351165;
    padding: 110px 20px ;
    border: none;
    border-radius:20px;
}
.box2{
    grid-column: span 2;
    grid-row: span 1;
    background-color: #351165;
    padding:20px ;
    border: none;
    border-radius:20px;
}
.box3{
    grid-column: span 2;
    grid-row: span 1;
    background-color: #351165;
    padding:20px ;
    border: none;
    border-radius:20px;
}
.box4{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #351165;
    padding:20px ;
    border: none;
    border-radius:20px;
}
.heading3{
    color:#fff;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700px;
    margin: 10px 0 10px 0; 
}
.text-2{
    color:#cfcfcf;
    font-size: 14px;
    line-height: 20px;
}

/* ==== Featured Episodes ====== */

#featured{
    background-color: #1A0B2E;
    padding: 100px 0;
}
.featured-box{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap:30px; 
    justify-content: center;
}
.featured-card{
    width: 350px;
    background-color: #351165;
    border: none;
    border-radius:30px;
    transition: all 1s ease;
}
.featured-card:hover{
    transform: scaleY(1.1);  
}

.Episodes-img img {
    width: 100%;
}

.card-content{
    width: 350px;
    padding: 20px;
}
.prodcast img{
    width:70px ;
}

.prodcast{
    text-align: center;
    position:absolute;
    margin-top: -150px;
    margin-left: 150px;
}

.time{
    display: flex;
    align-items: center;
    gap: 10px;
    margin:10px 0;
}
.time p{
    color: #00FF88; 
    font-size: 16px;
    font-weight: 400px;
}

/* ===== Meet the Host ===== */

#author{
    background-color: #1A0B2E;
    padding: 100px 0 ;
}
.author-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;     
}
.author-card{
  
    display: flex; 
    gap:40px;
    background-color: #351165;
    padding: 40px;
    border: none;
    border-radius:30px;
    align-items: center;
}
.author-card h3{
    font-size: 32px;
    line-height: 45px;
    color: #ffff;
    font-weight: 700px;
    margin-bottom: 16px;
}
.social-icon{
    width: 100%;
    display: flex;
    gap: 10px;
    
    margin-top: 16px;
}
.social-icon img {
    width: 17px;
    border: 1px solid #533C72;
    border-radius: 100px;
    padding: 12px;
    transition: all 0.5s ease-in;
}
.social-icon img:hover {
    background-color: #160125;
    border-radius: 10px;
    transform: rotate(60deg);
    cursor: pointer; 
}

/* ===== FOOTER SECTION ===== */

footer{
    height: 412px;
    background-image: url(..//images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ft-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}
.ft-icon{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 30px 0;
}
    .icon-box{
    display: flex;
    align-items: center;
    gap:10px;
    color: #ffff;
    font-size: 16px;
    font-weight: 800px;  
    transition: all 1s ease;
}
    .icon-box:hover{
        transform:scale(1.2);
        cursor: pointer;
     
}
    .icon-box p{
    color: #ffffff; 
    font-size: 16px;
    font-weight: 400px;
}

/* <========== All Device Responsive design ============> */

/* ----------------   Mobile Responsive Design
  - Breakpoint: max-width 575px ------------------------- */

/* <========== All Device Responsive design ============> */

@media screen and (max-width:576px){

    .btn{
        color: #ffff;
        font-size: 14px;
        padding: 15px 30px;
        border-radius: 30px;
        margin-left: 10px;
    }
    .btn-2{
        color: #00FF88;
        font-size: 14px;
        margin-left: 10px;
    }
    .heading {
        color:#fff;
        font-size: 30px;
        line-height: 40px;
        font-weight: 700px;
        margin-bottom: 40px;
        text-align: center;
    }
/* ===== P - text===== */

    .text{
        color: #ffff;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
/* ======Sheared Design==== */
/* Header  */

    .tuggol{

        display:inline-block;
        width: 40px;
    }

    header .menu{
        display: none;

    }
    header .hide{
        display: none;
    }

    header nav{
        width: 92%;
        display: flex;
        padding: 10px;
        justify-items: center;
        justify-content: space-between;
    }

/* ====== HERO SECTION MAIN BANNER ====== */

    #hero-bnr{
        background-image: url(..//images/hero-bg.png);
        background-position: center;
        background-size: cover;
        height: auto;
        padding: 40px 10px;
    }
    .hr-btn{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .hero-container{
        width:100%;
        margin: 0 auto;
        padding: 40px 0;
        text-align: center;
        justify-content: center;

    }
  
    .hero-container h1{
        color: #ffff;
        font-size: 60px;
        font-weight: 800;
        line-height:70px;
        margin: 20px 0;
    }
    .badge{
        position: absolute;
        top:28%;
        left:78% ;
        transform: translate(-100%,-100%) ;
        }
    .hero-img .img1{
            width:200px;
        }
    .hero-img .img2{
        position: absolute;
        top:40%;
        left:50% ;
        transform: translate(-50%,-100%);
        width:85px;
    }
    .hero-container h1{
        color: #ffff;
        font-size: 40px;
        font-weight: 800;
        line-height:70px;
        margin: 20px 0;
    }

/* ===== ABOUT SECTION ===== */

    #about{
        background-color: #1A0B2E;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .about-container{
        width:92%;
        max-width: 1140px;
        margin: 0 auto;  
        text-align: center; 
        padding: 20px; 
    }
    .about-info {
        width: 92%;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        justify-content: space-between;
        gap: 20px;
    }
    .about-info h1 {
        color: #00FF88;
        font-size: 40px;
    }

/* <!-- ===== WHY CHOOSE TECHWAVE ==== --> */

    #services{
        background-color: #1A0B2E;
        padding: 50px 0;
    }
    .services-container{
        width:92%;
        margin: 0 auto;  
    }
    .services-info{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .box1{
        
        background-color: #351165;
        padding: 20px 20px ;
        border: none;
        border-radius:20px;
    }
    .box2{
    width: 100%;
        background-color: #351165;
        padding:20px ;
        border: none;
        border-radius:20px;
    }

/* ====  FEATURED EPISODES ==== */

    #featured{
        width: 100%;
        padding:50px 0;
        overflow: hidden;
    }
    .featured-card{
        width:100%;
        padding:0;
        justify-content: center;
    }
    .featured-box{
        width:98%;
        margin: 0 auto;
        display: grid;
        gap:30px; 
    }
    .Episodes-img img{
        width:100%;
        height: auto;
    }
    .prodcast img{
        width:70px;
        
    }
    .prodcast{
        text-align: center;
        position:absolute;
        margin-top: -160px;
        margin-left: 150px;               
    }

/* ==== MEET THE HOST - CHALENG PART RESPONSIVE DESIGN ==== */

    #author{
        background-color: #1A0B2E;
        padding: 50px 0 ;
    }
    .author-container{
        width: 92%;
        margin: 0 auto;     
    }
    .author-card{
    
        display: grid; 
        gap:40px;
        background-color: #351165;
        padding: 40px;
        text-align: center;
    
    }
    .author-card h3{
        font-size: 32px;
        line-height: 45px;
        color: #ffff;
        font-weight: 700px;
        margin-bottom: 16px;
    }

    .social-icon{
        display: flex;
        justify-content: center;
        
        margin-top: 16px;
    }
    .social-icon img {
        width: 17px;
        border: 1px solid #533C72;
        border-radius: 100px;
        padding: 10px;
    }

/* ==== FOOTER SECTION RESPONSIVE DESIGN ===== */

    footer{
        height: 200px;
        background-image: url(..//images/footer-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        overflow: hidden;
    }
    .ft-container{
        width: 92%;
        margin: 0 auto;
        text-align: center;
        padding: 2px;         
    }
    .ft-container .footer-logo{
        width: 250px;
        padding-top: 30px;         
    }
    
    .ft-icon{
        display: flex;
        gap:10px;
    }
    footer .icon-box{
        display:flex;
        gap: 3px;
    }
    footer .icon-box p{
        font-size:13px;
    }
       
    footer .icon-box img{
        width: 15px;
    }
       
    }

 /*---------------- Large Device: above----------------------
 ----------------   Mobile Responsive Design
  - Breakpoint: min-width: 992px ------------------------- */ 

    @media screen and (min-width:992px){
       
        nav{
            width:92%;
            margin:0 auto;
            display: flex;
            justify-content: space-between;
            gap: 40px;
            align-items: center;
        }
         #hero-bnr{
            height: 600px;
            padding-bottom: 50px;
         }
        .hero-img .img1{
        width:300px;
        }
        .hero-img .img2{
            position: absolute;
            top:48%;
            left:50% ;
            transform: translate(-50%,-100%);
            width:100px;
        }
        .badge{
        position: absolute;
        top:30%;
        left:59% ;
        transform: translate(-100%,-100%) ;
        }
 /* ===== WHY CHOOSE TECHWAVE ====  */
        #services{
            /* background-color: #1A0B2E;
            padding: 50px 0; */
            padding: 0 ;
        }
        .services-container{
            width:92%;
            padding:20px;
        }  
        #featured{
        background-color: #1A0B2E;
        }
        .featured-box{
            width:92%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;      
        }
        #author{
            background-color: #1A0B2E;
            padding: 100px 0 ;
        }
        .author-container{
            width: 82%;
        }
        
}
 

