*{
    padding: 0;
    margin:0;
}
/* ===== font-family: Inter ===== */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* ========Sheared Design========== */
.btn{
    color: #ffff;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: linear-gradient(60deg,#ffe600,#FB09B4,#9100F8 ) ;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 1s ease;
    margin-left: 10px;
}
.btn:hover{
    color: #ffff;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: linear-gradient(60deg,#9100F8,#FB09B4,#ffe600);
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    transform:scale(1.1);
    cursor: pointer;  
}
.btn-2{
    color: #00FF88;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #00FF88;
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 1s ease;
    margin-left: 10px;
}
.btn-2:hover{
    color: #ffff;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: linear-gradient(60deg,#9100F8,#FB09B4,#ffe600);
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    transform:scale(1.1);
    cursor: pointer;   
}

/* ====heading ===== */
.heading {
    color:#fff;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700px;
    margin-bottom: 40px;
    text-align: center;
}
/* ==== All paregraph text===== */
.text{
    color: #ffff;
    font-size: 16px;
    font-weight: 400px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
}
/* ======Sheared Design - END ==== */

/* ===== MAIN HEADER =====  */

header{
    background-color: #1A0B2E;
    padding: 30px;
    border-bottom: 1px solid #311228;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
nav img{
    width: 220px;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu li{
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
    display: flex;
}
/* ===== HERO SECTION BANNER ======== */

#hero-bnr{
    background-image: url(..//images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    align-items: center;
    justify-content: center;
    padding:100px;
}
.hero-container{   
    width: 550px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.badge{
    padding: 10px 12px;
    width: 60px;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px #00ff8852 ;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    position: absolute;
    top:28%;
    left:58% ;
    transform: translate(-100%,-100%) ;
}
.badge p{
    font-size: 18px;
    font-weight: 600; 
}
.hero-img .img2{
    position: absolute;
    top:50%;
    left:50% ;
    transform: translate(-50%,-100%)
}
.hero-container h1{
    color: #ffff;
    font-size: 60px;
    font-weight: 800;
    line-height:70px;
    margin: 20px 0;
}

/* ===== ABOUT SECTION ====== */

#about{
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 120px;
}
.about-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;  
    text-align: center;  
}
.about-info{
    display: flex;
    justify-content: space-between;
}
.about-info h1 {
    color: #00FF88;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900px;
    margin-bottom: 16px;
    text-align: center;  
}

/* ====== SERVICES SECTION ======  */

#services{
    background-color: #1A0B2E;
    padding: 120px;
}
.services-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;  
}
.services-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    gap: 20px;
}
.box1{
    grid-column: span 1;
    grid-row: span 2;
    background-color: #351165;
    padding: 110px 20px ;
    border: none;
    border-radius:20px;
}
.box2{
    grid-column: span 2;
    grid-row: span 1;
    background-color: #351165;
    padding:20px ;
    border: none;
    border-radius:20px;
}
.box3{
    grid-column: span 2;
    grid-row: span 1;
    background-color: #351165;
    padding:20px ;
    border: none;
    border-radius:20px;
}
.box4{
    grid-column: span 1;
    grid-row: span 1;
    background-color: #351165;
    padding:20px ;
    border: none;
    border-radius:20px;
}
.heading3{
    color:#fff;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700px;
    margin: 10px 0 10px 0; 
}
.text-2{
    color:#cfcfcf;
    font-size: 14px;
    line-height: 20px;
}

/* ==== Featured Episodes ====== */

#featured{
    background-color: #1A0B2E;
    padding: 100px 0;
}
.featured-box{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap:30px; 
}
.featured-card{
    background-color: #351165;
    border: none;
    border-radius:30px;
}
.card-content{
    padding: 20px;
}
.prodcast img{
    width:70px ;
}
.prodcast{
    text-align: center;
    position:absolute;
    margin-top: -150px;
    margin-left: 150px;

}
.time{
    display: flex;
    align-items: center;
    gap: 10px;
    margin:10px 0;
}
.time p{
    color: #00FF88; 
    font-size: 16px;
    font-weight: 400px;
}

/* ===== Meet the Host ===== */

#author{
    background-color: #1A0B2E;
    padding: 100px 0 ;
}
.author-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;     
}
.author-card{
  
    display: flex; 
    gap:40px;
    background-color: #351165;
    padding: 40px;
    border: none;
    border-radius:30px;
    align-items: center;
}
.author-card h3{
    font-size: 32px;
    line-height: 45px;
    color: #ffff;
    font-weight: 700px;
    margin-bottom: 16px;
}
.social-icon{
    width: 100%;
    display: flex;
    gap: 10px;
    
    margin-top: 16px;
}
.social-icon img {
    width: 17px;
    border: 1px solid #533C72;
    border-radius: 100px;
    padding: 12px;
}

/* ===== FOOTER SECTION ===== */

footer{
    height: 412px;
    background-image: url(..//images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ft-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}
.ft-icon{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 30px 0;
}
    .icon-box{
    display: flex;
    align-items: center;
    gap:10px;
    color: #ffff;
    font-size: 16px;
    font-weight: 800px;  
}
    .icon-box p{
    color: #ffffff; 
    font-size: 16px;
    font-weight: 400px;
}

/* <========== All Device Responsive design ============> */

/* ----------------   Mobile Responsive Design
  - Breakpoint: max-width 575px ------------------------- */

/* <========== All Device Responsive design ============> */

@media screen and (max-width:576px){
    .btn{
        color: #ffff;
        font-size: 14px;
        padding: 15px 30px;
        border-radius: 30px;
        margin-left: 10px;
    }
    .btn-2{
        color: #00FF88;
        font-size: 14px;
        margin-left: 10px;
    }
    .heading {
        color:#fff;
        font-size: 30px;
        line-height: 40px;
        font-weight: 700px;
        margin-bottom: 40px;
        text-align: center;
    }
/* ===== P - text===== */

    .text{
        color: #ffff;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
/* ======Sheared Design==== */

/* ====== HERO SECTION MAIN BANNER ====== */
    #hero-bnr{
        background-image: url(..//images/hero-bg.png);
        background-position: center;
        background-size: cover;
        height: auto;
        padding: 30px 10px;
    }
    .hr-btn{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .hero-container{
        width:100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        justify-content: center;
    }
    .badge{
        position: absolute;
        top:28%;
        left:77% ;
        transform: translate(-100%,-100%) ;
    }
    .hero-container h1{
        color: #ffff;
        font-size: 60px;
        font-weight: 800;
        line-height:70px;
        margin: 20px 0;
    }
    .hero-img .img1{
        width:220px;
    }
    .hero-img .img2{
        position: absolute;
        top:38%;
        left:50% ;
        transform: translate(-50%,-100%);
        width:85px;
    }
    .hero-container h1{
        color: #ffff;
        font-size: 40px;
        font-weight: 800;
        line-height:70px;
        margin: 20px 0;
    }

/* ===== ABOUT SECTION ===== */

    #about{
        background-color: #1A0B2E;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .about-container{
        width:92%;
        max-width: 1140px;
        margin: 0 auto;  
        text-align: center; 
        padding: 20px; 
    }
    .about-info {
        width: 92%;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        justify-content: space-between;
        gap: 20px;
    }
    .about-info h1 {
        color: #00FF88;
        font-size: 40px;
    }

/* <!-- ===== WHY CHOOSE TECHWAVE ==== --> */

    #services{
        background-color: #1A0B2E;
        padding: 50px 0;
    }
    .services-container{
        width:92%;
        margin: 0 auto;  
    }
    .services-info{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .box1{
        
        background-color: #351165;
        padding: 20px 20px ;
        border: none;
        border-radius:20px;
    }
    .box2{
    width: 100%;
        background-color: #351165;
        padding:20px ;
        border: none;
        border-radius:20px;
    }

/* ====  FEATURED EPISODES ==== */

    #featured{
        background-color: #1A0B2E;
        padding: 20px 0;
    }

    .featured-box{
        width: 92%;
        margin: 0 auto;
        display: grid;
        gap:30px; 
    }
    .Episodes-img img{
        width:100%;
        height: auto;
    }
    .prodcast img{
        width:70px;
        
    }
    .prodcast{
        text-align: center;
        position:absolute;
        margin-top: -180px;
        margin-left: 250px;               
    }

/* ==== MEET THE HOST - CHALENG PART RESPONSIVE DESIGN ==== */

    #author{
        background-color: #1A0B2E;
        padding: 50px 0 ;
    }
    .author-container{
        width: 92%;
        margin: 0 auto;     
    }
    .author-card{
    
        display: grid; 
        gap:40px;
        background-color: #351165;
        padding: 40px;
        text-align: center;
    
    }
    .author-card h3{
        font-size: 32px;
        line-height: 45px;
        color: #ffff;
        font-weight: 700px;
        margin-bottom: 16px;
    }

    .social-icon{
        display: flex;
        justify-content: center;
        
        margin-top: 16px;
    }
    .social-icon img {
        width: 17px;
        border: 1px solid #533C72;
        border-radius: 100px;
        padding: 10px;
    }

/* ==== FOOTER SECTION RESPONSIVE DESIGN ===== */

    #footer{
        height: 200px;
        background-image: url(..//images/footer-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
    }
    .ft-container{
        width: 92%;
        margin: 0 auto;
        text-align: center;
        padding: 5px;         
    }
    .ft-container .footer-logo{
        width: 250px;
        padding-top: 20px;         
    }
    
    .ft-icon{
        display: flex;
        gap: 20px;
    }
       
    
    }

