*{
    padding: 0;
    margin:0;
}

/* ===== font-family: Inter ===== */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* ===== font-family: Inter ===== */

/* ========Sheared Design========== */
.btn{
    color: #ffff;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: linear-gradient(60deg,#ffe600,#FB09B4,#9100F8 ) ;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 1s ease;
    margin-left: 10px;
}
.btn:hover{
    color: #ffff;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: linear-gradient(60deg,#9100F8,#FB09B4,#ffe600);
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    transform:scale(1.1);
    cursor: pointer;  
}
.btn-2{
    color: #00FF88;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #00FF88;
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 1s ease;
    margin-left: 10px;
}
.btn-2:hover{
    color: #ffff;
    font-family: Inter;
    font-weight: 600px;
    font-size: 16px;
    background: linear-gradient(60deg,#9100F8,#FB09B4,#ffe600);
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    transform:scale(1.1);
    cursor: pointer;   
}
/* ====heading ===== */

.heading {
    color:#fff;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700px;
    margin-bottom: 30px;
}
/* ==== All paregraph text===== */
.text{
    color: #ffff;
    font-size: 16px;
    font-weight: 400px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
}
/* ======Sheared Design==== */

header{
    background-color: #1A0B2E;
    padding: 30px;
    border-bottom: 1px solid #311228;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
nav img{
    width: 220px;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu li{
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
    display: flex;

}
#hero-bnr{
    background-image: url(..//images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    align-items: center;
    justify-content: center;
    padding:100px;
}
.hero-container{
    
    width: 550px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.badge{
    padding: 10px 12px;
    width: 60px;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px #00ff8852 ;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    position: absolute;
    top:28%;
    left:58% ;
    transform: translate(-100%,-100%) ;
}
.badge p{
    font-size: 18px;
    font-weight: 600; 
}
.hero-img .img2{
    position: absolute;
    top:50%;
    left:50% ;
    transform: translate(-50%,-100%)
}
.hero-container h1{
    color: #ffff;
    font-size: 60px;
    font-weight: 800;
    line-height:70px;
    margin: 20px 0;
}
#about{
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 120px;
}
.about-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;  
    text-align: center;  
}
.about-info{
    display: flex;
    justify-content: space-between;
}
.about-info h1 {
    color: #00FF88;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900px;
    margin-bottom: 20px;
    text-align: center;  
}



